img(src="#{image}", id="qr", width="200", height="200")

div.reveal

	div.slides

		section

			h1 WTFQR

			p Shaun Baker
			p Jamie Collins
			p Jamie Newman
			p Sukhdev Shah

		section

			h1 Brief

			p QR code game

		section

			section

				h1 Tech

			section

				p.fragment 
					a(href="http://nodejs.org") Node.js
				p.fragment 
					a(href="http://www.websocket.org/") Websockets
				p.fragment 
					a(href="https://developer.mozilla.org/en/HTML:Canvas") HTML5 Canvas
				p.fragment Social Integration (FB &amp; TW login)


			section

				p.fragment 
					a(href="http://jade-lang.com/") Jade (HTML)

				p.fragment 
					a(href="http://learnboost.github.com/stylus/") Stylus (CSS)

				p.fragment 
					a(href="http://socket.io/") Socket.io (Websockets)

				p.fragment 
					a(href="http://paulirish.com/2011/requestanimationframe-for-smart-animating/") Uses requestAnimationFrame to animate

				p.fragment Game controlled via your Mobile phone

		section

			h2 Issues in Development

			p.fragment Time (or lack of time, what with projects etc)

			p.fragment Ideas, maybe too big in the beginning

			p.fragment Chrome compressing/deflating sockets meaning Socket.io falls back to XHR long-polling which makes a big difference in performance


		section

			img(src="/img/mario.jpg")

		section

			h2 Where we would go

			p.fragment Exapnd the events (cycling, rowing, hurdles, javelin)

			p.fragment Enhance user profiles (record wins, positions, rivalries)


		section

			section

				h1 DEMO TIME

	aside.controls
		a.left(href="#") &#x25C4;
		a.right(href="#") &#x25BA;
		a.up(href="#") &#x25B2;
		a.down(href="#") &#x25BC;

	div.progress
		span